<h2>Rozwiązywanie quizu</h2>

{{#unless model.completed}}
  <div class="row session-container">
    <div class="large-9 medium-8 small-12 column">
      <div class="callout">
        <div class="small button-group float-right">
          {{#link-to "question.view" model.current_question.id class="secondary button" }}Rewizje{{/link-to}}
          {{#link-to "question-revision.edit" model.current_question.id class="success button" }}Edytuj{{/link-to}}

        </div>
        <div class="primary label">{{model.current_question.created}}</div>
        <h4>Pytanie {{model.question_number}}/{{model.questions_length}}</h4>
        <p>{{expand-line-breaks model.current_question.text}}</p>
        {{#each model.current_question.answers as |answer|}}
          <div class="callout {{if answer.wrong 'alert'}} {{if answer.correct 'success'}} answer-{{index}}">
            <label>
              {{input type="checkbox" name="isAdmin" checked=answer.checked}}
              {{answer.text}}
            </label>
          </div>
        {{/each}}
      </div>
      <div class="panel clearfix">
        {{#if model.checked_response}}
          <button class="large button float-right" {{action "next_question" model}}>Przejdź do następnego pytania</button>
        {{else}}
          <button class="large primary button float-right" {{action "check_answers" model}}>Sprawdź</button>
        {{/if}}
      </div>


    </div>
    <div class="large-3 medium-4 small-12 column">
      <h4>Statystyki</h4>
      <p>Postęp: <strong>{{model.progress}}%</strong></p>
      <p>Wynik: <strong>{{model.result}}%</strong></p>
      <p>Rezultaty:</p>
      <table>
        <tbody>
        <tr>
          <td>Poprawne</td>
          <td><strong>{{model.answers.correct}}</strong></td>
        </tr>
        <tr>
          <td>Częściowo poprawne</td>
          <td><strong>{{model.answers.partiall}}</strong></td>
        </tr>
        <tr>
          <td>Błędne</td>
          <td><strong>{{model.answers.bad}}</strong></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{{else}}

  <p><strong>Test ukończony.</strong> Rezultaty:</p>
  <h3>Wynik: <strong>{{model.result}}</strong>%</h3>
  <table>
    <tbody>
    <tr>
      <td>Poprawne</td>
      <td><strong>{{model.answers.correct}}</strong></td>
    </tr>
    <tr>
      <td>Częściowo poprawne</td>
      <td><strong>{{model.answers.partiall}}</strong></td>
    </tr>
    <tr>
      <td>Błędne</td>
      <td><strong>{{model.answers.bad}}</strong></td>
    </tr>
    </tbody>
  </table>

{{/unless}}



{{outlet}}
