<h2>Podgląd quizu</h2>
<h3>{{model.name}}</h3>
{{#link-to "quizzes.append" model.id class="success button"}}Dodaj pytania{{/link-to}}
{{#each model.questions as |question|}}
  <div class="callout">
    <div class="secondary label float-right">Rewizje: {{question.revisions.length}}</div>
    <div class="small button-group">
      {{#link-to "question.view" question.id class="primary button" }}Przejrzyj rewizje{{/link-to}}
      {{#link-to "question-revision.edit" question.id class="success button" }}Modyfikuj{{/link-to}}
      <a class="alert button" {{action "delete_question" question.id}}>Usuń</a>
    </div>
    <h5>{{expand-line-breaks question.revisions.[0].text}}</h5>
    {{#each question.revisions.[0].answers as |answer| }}
      <div class="callout {{if answer.truth 'success'}}">
        <p>{{answer.text}}</p>
      </div>
    {{/each}}
  </div>
{{/each}}
{{outlet}}
